.about {
  padding: 5.8em 0;
}

.about__header {
  position: relative;

}

.about__content {
  display: flex;
  gap: 4.25em;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__image {
  width: 50%;

  & img {
    object-fit: cover;
  }
}

.about__description {
  width: 50%;
  font-family: $font-Sofia-Pro;
  font-weight: 300;
  font-size: $font-size-basic;
  line-height: 1.44;
  color: $font-color-text;
}

@media (max-width: 1400px) {
  .about__content {
    padding-right: 4em;
  }
}

@media (max-width: 1100px) {
  .about {
    padding: 4em 0;
  }
  .about__content {
    padding-right: 6em;
  }
}

@media (max-width: 870px) {
  .about__content {
    padding: 0;
  }
  .about__description {
    font-size: $font-size-basic*.78;
  }
}

@media (max-width: 740px) {
  .about {
    padding: 2.94em 0;
  }
  .about__content{
    flex-direction: column;
    gap: 1.25em;
  }
}
