.form__input {
  p {
    margin: 0 0 .94em 0;
  }

  input {
    width: 100%;
    padding: 1.285em 1.43em 1.143em;
    font-family: $font-Sofia-Pro;
    font-weight: 600;
    font-size: $font-size-text-little;
    line-height: 1;
    letter-spacing: .043em;
    color: $font-color-input;

    &::placeholder {
      color: inherit;
      font-size: inherit;
      text-transform: uppercase;
    }
  }
}

.form__btn {
  position: relative;

  .btn-submit {
    display: block;
    position: relative;
    min-width: 272px;
    margin-left: auto;
    cursor: pointer;
  }
}

.form form.customize-unpreviewable input,
.form form.customize-unpreviewable {
  cursor: auto !important;
}

.wpcf7-not-valid-tip {
  color: #dc3232;
}

.wpcf7-response-output {
  margin: 0;
  color: #dc3232;
}
.wpcf7-spinner{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}